/* ---------------------------------------- */
/* --------- Css reset -------------------- */
/* ---------------------------------------- */
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

/* ---------------------------------------------------- */
/* -- Body and Html */
/* ---------------------------------------------------- */
body {
	font-family: 'Poppins', sans-serif;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/Blue.jpg);
	background-size: cover;
	background-position: center;
	/* height: 100%;
    min-width: 100%; */

}

html,
body {
	min-width: 100%;
	height: 100%;
}

/* ---------------------------------------------- */
/*-------------------NAVBAR SECTION---------------*/
/* ----------------------------------------------- */
.navbar {
	position: fixed;
	width: 100%;
	max-height: 20%;

	color: white;
	box-shadow: 0 -2px 30px 5px rgba(15, 15, 15, 0.582);
	background-color: #090a0a;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/web-black.jpg);
	background-size: cover;
	background-position: center;

	animation: fade 1.5s;
	z-index: 1;
}

.navbar-center {
	margin: auto;
	max-width: 90%;
	height: 100%;
	align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#iconNav {
	display: none;
	float: right;
	margin-right: 0.5rem;
	color: white;
	font-size: 1.5rem;
}

.ul-links {
	height: 100%;
	float: right;
}

.ul-links li {
	max-height: 100%;
	display: inline-block;
	margin-inline: 1rem;
	padding: 0.8rem 0;
}

.ul-links a {
	font-size: 15px;
	color: white;
	border-radius: 450px;
	text-shadow: 2px 2px 4px black;
	text-transform: uppercase;
	padding: 4px 8px;
}

.active:hover {
	background: #faf7f71e;
	transition: .5s;
}

.anchor {
	max-height: 90%;
	float: left;
	content: "";
	clear: both;
	display: table;
}

.imageLogo {
	height: 100%;
	width: 8.7rem;
	display: block;
}

.imageLogo:hover {
	animation: shake 0.8s;
	transition: .5s;
}

/* ---------------------------------------- */
/*------------------- CONTAINER ------------*/
/* --------------------------------------- */
.main-container {
	width: 100%;
	max-height: 100%;
	height: 100vh;
	/* padding-top: 9%; */
	padding-top: clamp(11%, 2.5vw, 25%);

}

.welcome {
	position: relative;
	display: block;
	align-content: center;
	text-align: center;
	width: 53%;
	margin: 0 auto 0 auto;
	color: white;
}

.welcome h1,
.welcome p {
	margin: 0 auto 0 auto;
	text-shadow: 2px 2px 5px black;
	animation: fade 2s;
}

.welcome h1 {
	width: 100%;
	font-size: clamp(1.2rem, 2.5vw, 4rem);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.welcome p {
	width: 100%;
	font-size: 18px;
	letter-spacing: 1px;
	border-radius: 8px;
}

/* ------------------------------------- */
/* ---------- SLIDE CONTAINER------------- */
/* --------------------------------------- */

.slide-container {
	display: block;
	position: relative;
	height: 60%;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.02);
}


.slide {
	display: visible;
	height: 100%;
	width: 100%;
}

.slide-container img {
	max-height: 100%;
	width: 100%;
	border-radius: 8px;
}

/* ------------------------ */
/* Dot bullets indicators */
/* ---------------------- */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: rgba(141, 135, 135, 0.493);
	border-radius: 50%;
	display: inline-block;
	transition: 0.5s ease;
}

.activo {
	background-color: white;
}

.dots-container {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	text-align: center;
}

/* ----------------------- */
/* Fading animation */
/* ---------------------- */

.fade {
	animation-name: fade;
	animation-duration: .3s;
}

/* --------------------------- */
/* -- Keyframes animation */
/* --------------------------- */
@keyframes fade {
	from {
		opacity: .2
	}

	to {
		opacity: 1
	}
}

/* ------------------------------------------- */
/*-------------- FOOTER SECTION --------------*/
/* ----------------------------------------- */
footer {
	bottom: 0;
	width: 100%;
	height: auto;
	padding: 20px 50px 30px 50px;
	box-sizing: border-box;

	text-align: left;
	color: white;
	font: bold 16px sans-serif;
	background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/web-black.jpg);
	background-size: cover;
	background-position: center;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
	display: inline-block;
	vertical-align: top;
	justify-content: center;
}

/* -------------------- */
/* Footer left section */
/* ------------------ */
.footer-left {
	width: 30%;
}

.footer-left img {
	width: 60%;
	height: 10%;
}

footer h5 span {
	color: #e91621;
}

.footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
}

.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-company-rights {
	font-size: clamp(8px, 2.5vw, 14px);
	font-weight: normal;
	margin: 0;
}

/* ---------------------- */
/* Footer center section */
/* -------------------- */
.footer-center {
	width: 40%;
}

.footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 20px;
	width: 38px;
	height: 38px;

	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 20px;
	vertical-align: middle;
}


.footer-center i:hover {
	animation: shake 0.8s;
	transition: .5s;
}

.footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}

.footer-center p a {
	color: #ffffff;
	text-decoration: none;
}

/* ------------------------------------------ */
/*------------FOOTER RIGHT-------------------*/
/* ----------------------------------------- */
.footer-right {
	width: 20%;
	display: block;
	float: right;
}

.footer-right a:hover {
	animation: shake 0.8s;
	transition: .5s;
}

.footer-media {
	display: block;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 50%;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


/*---------------- MEDIA QUERIES ---------------------------*/

/* ******************************************************* */
/* 320 px mobil small screen */
/* ******************************************************* */

@media (max-width: 320px) {

	html,
	body {
		/* display: none; */
		width: 100%;
		height: 100vh;
	}

	.navbar {
		position: relative;
		/* position: fixed; */
		display: flexbox;
		justify-content: space-between;
		align-items: center;
		min-width: 100px;
		height: 4rem;
	}

	#iconNav {
		display: inline-block;
		margin-top: 9px;
	}

	.ul-links {
		position: absolute;
		right: 0;
		top: 2rem;

		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 200px;
		margin-top: clamp(20px, 3vw, 3rem);

		background-color: rgba(54, 52, 52, 0.562);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		margin-bottom: 15%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/web-black.jpg);
		background-size: cover;
		background-position: center;

		animation: fade;
		animation-duration: .4s;
	}

	.main-container {
		border: 2px yellow solid;
		/* margin-top: 25%; */
		margin-top: 5%;
		margin-bottom: 30%;
		height: 300px;
		min-width: 5rem;
	}

	.welcome {
		width: 100%;
	}

	.welcome h1 {
		font-size: 20px;
		width: 100%;
	}

	.welcome p {
		font-size: 12px;
		width: 100%;
	}

	.slide-container {
		margin-top: 10%;
		height: 55%;
		width: 85%;

	}

	footer {
		position: absolute;
		bottom: 0;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		min-width: 100%;
		padding: 0.5rem 0.5rem;
	}

	footer .footer-center {
		min-width: 50%;
		font-size: 0.5rem;
		line-height: 1rem;
	}

	footer .footer-center i {
		display: none;
	}

	footer .footer-left {
		display: flexbox;
		flex-direction: column;
		flex-wrap: nowrap;
		font-size: 0.5rem;
		margin-right: 1.5rem;
		margin-left: 0.5rem;
		width: 50%;
	}

	.footer-left img {
		width: 30%;
		height: 20%;
	}

	.footer-links {
		color: #ffffff;
		margin: 5px 5px;
	}

	.footer-links a {
		display: inline-block;
		line-height: 1px;
		text-decoration: none;
		color: inherit;
	}

	footer .footer-company-rights {
		display: none;
	}

	footer .footer-right {
		display: none;
	}
}

/* ********************************** */
/* Screen 321px to 600px */
/* ********************************* */
@media (min-width: 321px) and (max-width: 600px) {

	html,
	body {
		min-width: 100%;
		height: 100vh;
	}

	.navbar {
		position: fixed;
		display: flexbox;
		justify-content: space-between;
		align-items: center;
		min-width: 100px;
		height: 4rem;
	}

	#iconNav {
		display: inline-block;
		margin-top: 9px;
	}

	.ul-links {
		position: absolute;
		right: 0;
		top: 2.5rem;

		display: none;
		flex-direction: column;
		align-items: center;
		width: 50%;
		height: 200px;
		/* margin-top: clamp(20px, 3vw, 3rem); */

		background-color: rgba(54, 52, 52, 0.562);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		margin-bottom: 15%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/web-black.jpg);
		background-size: cover;
		background-position: center;

		animation: fade;
		animation-duration: .4s;
	}

	.main-container {
		padding-top: 20%;
		min-height: 1rem;
	}

	.welcome {
		width: 100%;
		margin-top: 5%;
	}

	.welcome h1 {
		font-size: 1.2rem;
		width: 100%;
	}

	.welcome p {
		font-size: 0.8rem;
		width: 100%;
	}

	.slide-container {
		margin-top: 10%;
		/* width: 50%; */
		max-height: 10rem;
		min-width: 14rem;
	}

	.slide-container img {
		min-height: 100%;
		width: 100%;
	}

	footer{
		padding: 1rem ;
	}


	footer .footer-right {
		display: none;
	}

	footer .footer-left {
		display: inline;
	}

	footer .footer-left img {
		width: 30%;
	}

	footer .footer-company-rights {
		display: none;
	}

	footer .footer-center {
		display: grid;
		grid-template-rows: 1fr 1fr;
		width: 90%;
		font-size: 0.8rem;
		row-gap: 0.5rem;
		justify-content: left;
	}
}

/* ********************************** */
/* Screen 601px to 768px */
/* ********************************* */

@media (min-width: 601px) and (max-width: 768px) {


	.navbar {
		position: fixed;
		display: flexbox;
		justify-content: space-between;
		align-items: center;
	}

	#iconNav {
		display: inline-block;
		margin-top: 9px;
	}

	.ul-links {
		position: absolute;
		right: 0;
		top: 2.5rem;

		display: none;
		flex-direction: column;
		align-items: center;
		width: 50%;
		height: 200px;
		margin-top: clamp(20px, 3vw, 3rem);

		background-color: rgba(54, 52, 52, 0.562);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		margin-bottom: 15%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/web-black.jpg);
		background-size: cover;
		background-position: center;

		animation: fade;
		animation-duration: .4s;
	}

	.slide-container {
		max-height: 12rem;
		min-width: 16rem;
	}

	.slide-container img {
		width: 100%;
		height: 100%;
	}

	.welcome {
		width: 100%;
		padding-top: 5%;
	}

	.welcome p {
		font-size: 12px;
	}

	footer {
		padding: 1rem 2rem;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-columns: auto;
		
	}

	footer .footer-left{
		display: block;
		width: 60%;
	}

	footer .footer-left img{
		width: 50%;
		height: 20%;
	}
	
	footer .footer-center{
		display: flex;
		flex-direction: column;
		/* align-content: space-between; */
		width: 100%;
		font-size: 14px;
	}
	
	footer .footer-center div{
		display: inline;
		width: 100%;
	}

	footer .footer-right{
		display: none;
	}
}

/* ***************************************' */
/* Screen min 768px to 992px */
/* ***************************************' */

@media (min-width: 768px) and (max-width: 992px){

	.slide-container{
		min-width: 50%;
		/* max-height: 45%; */
		height: auto;
	}

	.slide-container img{
		width: 100%;
		height: 100%;
	}


	footer .footer-left{
		font-size: 12px;
	}

	footer .footer-center{
		font-size: 12px;
	}
}

/* ***************************************' */
/* Screen min 992px */
/* ***************************************' */

@media (min-width: 992px){

	html, body{
		min-width: 100%;
		height: auto;
	}
	.slide-container{
		max-width: 50%;
		height: auto;
	}
	
	.slide-container img{
		width: 100%;
		height: 100%;
	}
	
	.main-container{
		margin-bottom: 100px;
	}
}